## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2025-05-03 17:13:59.684584: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# # Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# application_df = application_df.drop(columns = ['EIN', 'NAME'])
# application_df

# Drop the non-beneficial ID columns, 'EIN' 
application_df = application_df.drop(columns=['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(type_counts[type_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# Use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#This is essential for preparing data for machine learning models, as most algorithms work with numerical inputs
#To convert alphanumeric values into numeric- use LabelEncoder:
application_numeric = pd.get_dummies(application_df).astype('int')
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
# To adjust the split ratio, you can specify test_size
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler() # Learn mean and standard deviation from the training data before applying transformations.

# Fit the StandardScaler
# We only fit (.fit()) on training data, NOT testing data! This ensures that the model doesn't learn information from future (test) data, preventing data leakage.
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## RANDOM TESTING MODEL

In [14]:
# RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

# Define and train the Random Forest model
rf_model = RandomForestClassifier(n_estimators=200, random_state=58)
rf_model.fit(X_train, y_train)

# Get feature importance from trained Random Forest model
feature_importance = rf_model.feature_importances_
feature_names = X_train.columns

# Ensure the lengths of feature_importance and feature_names match
if len(feature_importance) == len(feature_names):
	# Convert to DataFrame for sorting
	importance_df = pd.DataFrame({"Feature": feature_names, "Importance": feature_importance})
	importance_df = importance_df.sort_values(by="Importance", ascending=False)

	# Display ranked features
	print("Feature Importance Ranking:\n", importance_df)
else:
	print("Error: Mismatch in lengths of feature_importance and feature_names.")
	print(f"Length of feature_importance: {len(feature_importance)}")
	print(f"Length of feature_names: {len(feature_names)}")

Feature Importance Ranking:
                          Feature  Importance
1                        ASK_AMT    0.339761
42  AFFILIATION_CompanySponsored    0.090564
17                    NAME_Other    0.079711
44       AFFILIATION_Independent    0.073176
59      ORGANIZATION_Association    0.023193
..                           ...         ...
73      SPECIAL_CONSIDERATIONS_Y    0.000358
47          AFFILIATION_Regional    0.000265
0                         STATUS    0.000101
46             AFFILIATION_Other    0.000062
56                USE_CASE_Other    0.000049

[74 rows x 2 columns]

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 10)             │           750 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 8)              │            88 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 6)              │            54 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │             7 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 899 (3.51 KB)

 Trainable params: 899 (3.51 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
# Binary classification problems, where the output is either 0 or 1 (successful funding or not).
# "adam" automatically adjusts learning rates, making training more efficient.

nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['Accuracy','Precision','Recall'])

In [17]:
# Train the model after Dropping low importance features
#fit_model = nn.fit(X_train_scaled, y_train, epochs=30)
fit_model = nn.fit(X_train_scaled, y_train, epochs=30, batch_size=16, verbose=2)

Epoch 1/30
1608/1608 - 8s - 5ms/step - Accuracy: 0.7113 - Precision: 0.6799 - Recall: 0.8647 - loss: 0.5862
Epoch 2/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7543 - Precision: 0.7252 - Recall: 0.8668 - loss: 0.5166
Epoch 3/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7556 - Precision: 0.7248 - Recall: 0.8718 - loss: 0.5066
Epoch 4/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7556 - Precision: 0.7256 - Recall: 0.8697 - loss: 0.5018
Epoch 5/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7569 - Precision: 0.7262 - Recall: 0.8717 - loss: 0.4978
Epoch 6/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7572 - Precision: 0.7239 - Recall: 0.8790 - loss: 0.4952
Epoch 7/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7572 - Precision: 0.7241 - Recall: 0.8787 - loss: 0.4944
Epoch 8/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7572 - Precision: 0.7244 - Recall: 0.8776 - loss: 0.4932
Epoch 9/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7576 - Precision: 0.7234 - Recall: 0.8816 - loss: 0.4927
Epoch 10/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7600 - Precision: 0.7262 - Recall: 0.8814 - loss: 0.4921
Epoch 11/30
1608/1608 - 4s - 2ms/step - Accuracy: 0.7577 - Precision: 0.7232 - Recall: 0.8822 - loss: 0.4918
Epoch 12/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7586 - Precision: 0.7236 - Recall: 0.8841 - loss: 0.4912
Epoch 13/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7588 - Precision: 0.7257 - Recall: 0.8791 - loss: 0.4905
Epoch 14/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7572 - Precision: 0.7242 - Recall: 0.8781 - loss: 0.4905
Epoch 15/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7596 - Precision: 0.7241 - Recall: 0.8857 - loss: 0.4902
Epoch 16/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7590 - Precision: 0.7247 - Recall: 0.8825 - loss: 0.4897
Epoch 17/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7596 - Precision: 0.7239 - Recall: 0.8864 - loss: 0.4895
Epoch 18/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7580 - Precision: 0.7244 - Recall: 0.8800 - loss: 0.4890
Epoch 19/30
1608/1608 - 4s - 2ms/step - Accuracy: 0.7591 - Precision: 0.7247 - Recall: 0.8825 - loss: 0.4887
Epoch 20/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7605 - Precision: 0.7243 - Recall: 0.8882 - loss: 0.4883
Epoch 21/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7610 - Precision: 0.7258 - Recall: 0.8853 - loss: 0.4879
Epoch 22/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7588 - Precision: 0.7226 - Recall: 0.8873 - loss: 0.4878
Epoch 23/30
1608/1608 - 5s - 3ms/step - Accuracy: 0.7598 - Precision: 0.7262 - Recall: 0.8805 - loss: 0.4876
Epoch 24/30
1608/1608 - 3s - 2ms/step - Accuracy: 0.7621 - Precision: 0.7255 - Recall: 0.8896 - loss: 0.4868
Epoch 25/30
1608/1608 - 4s - 2ms/step - Accuracy: 0.7602 - Precision: 0.7244 - Recall: 0.8867 - loss: 0.4871
Epoch 26/30
1608/1608 - 4s - 3ms/step - Accuracy: 0.7600 - Precision: 0.7222 - Recall: 0.8920 - loss: 0.4866
Epoch 27/30
1608/1608 - 4s - 2ms/step - Accuracy: 0.7600 - Precision: 0.7252 - Recall: 0.8841 - loss: 0.4867
Epoch 28/30
1608/1608 - 3s - 2ms/step - Accuracy: 0.7599 - Precision: 0.7235 - Recall: 0.8882 - loss: 0.4861
Epoch 29/30
1608/1608 - 3s - 2ms/step - Accuracy: 0.7599 - Precision: 0.7241 - Recall: 0.8868 - loss: 0.4863
Epoch 30/30
1608/1608 - 3s - 2ms/step - Accuracy: 0.7595 - Precision: 0.7237 - Recall: 0.8864 - loss: 0.4862

In [18]:
# Evaluate the model using the test data
# Precision: Measures how many 'predicted successes were actually successful'.High precision means fewer false positives.
# Recall: Measures how many actual 'successes were correctly predicted'.High recall means fewer false negatives.
model_loss, model_accuracy, model_precision, model_recall = nn.evaluate(X_test_scaled, y_test, verbose=2)

268/268 - 1s - 4ms/step - Accuracy: 0.7549 - Precision: 0.7343 - Recall: 0.8467 - loss: 0.4929

In [19]:
# Export our model to HDF5 file
#The .h5 and .hdf5 extensions are actually interchangeable—they refer to the same format
filepath = r"/Users/GURU/Desktop/deep-learning-challenge/Deep_Learning_Challenge/AlphabetSoupCharity_Optimization.h5"
nn.save(filepath)

# Export our model to the native Keras format(INCASE needed)
# filepath = r"/Users/GURU/Desktop/deep-learning-challenge/Deep_Learning_Challenge/AlphabetSoupCharity_model1.keras"
# nn.save(filepath)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.